.nav {
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #DDD;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.hidden {
  width: 0;
}

.minimized {
  width: 60px;
}

.maximized {
  width: 120px;
}
